<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <springProperty
            scope="context"
            name="serviceName"
            source="spring.application.name"/>

    <appender name="JSON"
              class="ch.qos.logback.core.ConsoleAppender">

        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">

            <providers>

                <timestamp>
                    <fieldName>timestamp</fieldName>
                </timestamp>

                <logLevel>
                    <fieldName>level</fieldName>
                </logLevel>

                <threadName>
                    <fieldName>thread</fieldName>
                </threadName>

                <loggerName>
                    <fieldName>logger</fieldName>
                </loggerName>

                <message>
                    <fieldName>message</fieldName>
                </message>

                <mdc/>

                <pattern>
                    <pattern>
                        {
                        "service":"${serviceName}"
                        }
                    </pattern>
                </pattern>

            </providers>

        </encoder>

    </appender>

    <root level="INFO">
        <appender-ref ref="JSON"/>
    </root>

</configuration>